<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width")
	title Versal
	link(rel="icon" href="img/favicon.png" type="image/png")
	link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
	link(rel="stylesheet", href="fonts/stylesheet.css?v9")
	link(rel="stylesheet", href="css/main.css?v9")
	link(rel="stylesheet", href="css/media.css?v9")
body
	.modal__wrapper(data-modal-id="1")
		.modal
			.modal__close
				.modal__close__line1
				.modal__close__line2
			.modal__title Пожалуйста, заполните форму
			.modal__desc Наши менеджеры обработают Ваш запрос и перезвонят Вам.
			form(action="")
				input(type="text" placeholder="Введите имя")
				input(type="text" placeholder="+7 (___) ___-____")
				button.btn Отправить
	.global__wrapper
		section.head
			.container
				a.head__logo(href="/")
					img(src="img/logo.svg", alt="")
				.head__contact.head__contact__adress
					.head__contact__title Г. Москва Варшавское шоссе д. 125 к 3
					a.head__contact__title__link(href="#map" data-role='scroll') Показать на карте
				.head__contact.head__contact__email
					.head__contact__title waripov@gmail.com
					a.head__contact__title__link(href="mailto:waripov@gmail.com") Написать
				.head__contact.head__contact__phone
					.head__contact__title +7 (926) 195 13 10
					a.head__contact__title__link(href="" data-modal data-modal-id="1") Заказать звонок
		section.hero
			.container
				h1.hero__title Производство наружной и интерьерной рекламы
					br 
					span Разработка дизайна
					br 
					span Все виды согласования с Москомархитектурой 
					br
					span Регистрация товарного знака
				ul.hero__list
					li 
						img(src="img/hero__list.svg", alt="")
						span Выезд на замер
					li 
						img(src="img/hero__list.svg", alt="")
						span Макет привязка в подарок
					li 
						img(src="img/hero__list.svg", alt="")
						span Консультация специалистов бесплатно
					li 
						img(src="img/hero__list.svg", alt="")
						span Гарантия 12 месяцев
					li 
						img(src="img/hero__list.svg", alt="")
						span Изготовение в соответствии с 902 пп.
				.hero__btn__wrapper
					a(href="#calc" data-role="scroll")
						button.btn Узнать стоимость вывески
					.hero__price Стоимость от 30 руб./см
		section.calc#calc
			.container
				.section__title.calc__title Расчет стоимости
				.section__desc Расчитайте стоимость вывески с помощью нашего калькулятора
				.calc__tab__links
					.calc__tab__link.calc__tab__link__active(data-calc-tab="1") Объемные буквы
					.calc__tab__link(data-calc-tab="2") Световые короба
				.calc__tab__content(data-calc-tab="1")
					.calc__viveski
						.calc__viveski__left
							.calc__viveski__shrift
								.calc__viveski__shrift__item.calc__viveski__shrift__item__active(data-shrift="sans-serif")
									.calc__viveski__shrift__item__title Абв
									.calc__viveski__shrift__item__desc Прямой
								.calc__viveski__shrift__item(data-shrift="serif")
									.calc__viveski__shrift__item__title(style="font-family: 'Roboto Slab';") Абв
									.calc__viveski__shrift__item__desc С засечками
								.calc__viveski__shrift__item(data-shrift="decor")
									.calc__viveski__shrift__item__title(style="font-family:'Pacifico';") Абв
									.calc__viveski__shrift__item__desc Декоративный
							.calc__viveski__type
								.select
									select.select__viveski__type(name="")
										option(value="1") Объемные буквы световые белые
										option(value="2") Объемные буквы световые цветные
										option(value="3") Объемные буквы световые цветные/белые со светящимимся краями
										option(value="4") Объемные буквы световые с задней "контражурной" подсветкой
										option(value="5") Объемные буквы световые цветные/белые с комбинированной подсветкой
										option(value="6") Объемные буквы в виде фигурного короба
							.calc__viveski__slova
								.input
									input.input__viveski__slova(type="text" placeholder="Слова для вывески")
									.input__count 0 букв
							.calc__viveski__visota
								span Высота букв:
								.input
									input.input__viveski__visota(type="number" placeholder="Слова для вывески" value="10" min="10" max="100")
								
								span см

						.calc__viveski__right
							.calc__viveski__right__img(data-viveski)
								img(src="img/calc/sans-serif1.jpg", alt="")
							.calc__viveski__right__price
								.calc__viveski__right__price__title Примерная стоимость
								.calc__viveski__right__price__num(data-viveski) 0 руб.
							.calc__viveski__right__btn
								button.btn(data-modal data-modal-id="1") Уточнить стоимость
				.calc__tab__content(data-calc-tab="2")
					.calc__viveski
						.calc__viveski__left
							.calc__viveski__type
								.select
									select(name="" data-calc-korob-type)
										option(value="1") Короб прямоугольный: поликарбонат + профиль
										option(value="2") Короб прямоугольный: акрил + профиль
										option(value="3") Короб фигурный: акрил + пластик
										option(value="4") Короб из композита
										option(value="5") Короб из композита с инкрустацией
										option(value="6") Консоль двусторонняя пластиковая
										option(value="7") Консоль двусторонняя из композита
										option(value="8") Консоль двусторонняя из композита с инкрустацией
							.calc__viveski__visota
								span Высота короба:
								.input
									input( data-calc-korob-visota type="number"  value="1" min="0" max="100")
								span м
							.calc__viveski__visota
								span Ширина короба:
								.input
									input( data-calc-korob-shirina type="number"  value="1" min="0" max="100")
								span м

						.calc__viveski__right
							.calc__viveski__right__img
								img(src="img/calc/koroba/1.png", alt="" data-calc-korob-img)
							.calc__viveski__right__price
								.calc__viveski__right__price__title Примерная стоимость
								.calc__viveski__right__price__num(data-calc-korob-result) 11000 руб.
							.calc__viveski__right__btn
								button.btn(data-modal data-modal-id="1") Уточнить стоимость

		section.services#services
			.container
				.section__title.services__title Полный комплекс услуг 
				.section__desc Предложим эффективное решение вне зависимости от масштаба, сферы и бюджета вашего проекта
				.services__content
					.services__tabs__wrapper
						.services__tabs
							a(href="#services" data-tab="2").services__tab Буквы не световые
							
							a(href="#services" data-tab="4").services__tab Буквы с лицевым свечением
							a(href="#services" data-tab="3").services__tab Буквы с комбинированным свечением
							a(href="#services" data-tab="1").services__tab.services__tab__active Буквы и логотипы из пластика, металла, дерева
							a(href="#services" data-tab="5").services__tab Изделия по индивидуальным эскизам
							a(href="#services" data-tab="6").services__tab Информационные таблички и стенды
							a(href="#services" data-tab="7").services__tab Композитный короб с инкрустацией
							a(href="#services" data-tab="8").services__tab Крышные конструкции
							a(href="#services" data-tab="9").services__tab Монтаж и согласование
							a(href="#services" data-tab="10").services__tab Навигация
							a(href="#services" data-tab="11").services__tab Неон, гибкий и из стекла
							a(href="#services" data-tab="12").services__tab Оформление витрин и интерьера
							a(href="#services" data-tab="13").services__tab Световые короба
					//-services__items
					.services__items(data-tab="1")
						.services__item
								a.services__item__img(style="background-image: url(img/services/1/1.jpeg)" href="img/services/1/1.jpeg" data-fancybox="1")
								.services__item__text
									.services__item__title Буквы и логотипы из пластика, металла, дерева
								a.services__item__img(style="background-image: url(img/services/1/2.jpeg); display:none;" href="img/services/1/2.jpeg" data-fancybox="1")
								a.services__item__img(style="background-image: url(img/services/1/3.jpeg); display:none;" href="img/services/1/3.jpeg" data-fancybox="1")
								a.services__item__img(style="background-image: url(img/services/1/4.jpeg); display:none;" href="img/services/1/4.jpeg" data-fancybox="1")
					//-services__items
					.services__items(data-tab="2")
						.services__item
								a.services__item__img(style="background-image: url(img/services/2/2.jpeg)" href="img/services/2/2.jpeg" data-fancybox="2")
								.services__item__text
									.services__item__title Буквы не световые
								a.services__item__img(style="background-image: url(img/services/2/1.jpeg); display:none;" href="img/services/2/1.jpeg" data-fancybox="2")
								a.services__item__img(style="background-image: url(img/services/2/3.jpeg); display:none;" href="img/services/2/3.jpeg" data-fancybox="2")
					//-services__items
					.services__items(data-tab="3")
						.services__item
								a.services__item__img(style="background-image: url(img/services/3/1.jpeg)" href="img/services/3/1.jpeg" data-fancybox="3")
								.services__item__text
									.services__item__title Буквы с комбинированным свечением
								a.services__item__img(style="background-image: url(img/services/3/2.jpeg); display:none;" href="img/services/3/2.jpeg" data-fancybox="3")
					//-services__items
					.services__items(data-tab="4")
						.services__item
							a.services__item__img(style="background-image: url(img/services/4/1.jpeg)" href="img/services/4/1.jpeg" data-fancybox="4")
							.services__item__text
								.services__item__title Буквы с лицевым свечением
							a.services__item__img(style="background-image: url(img/services/4/2.jpeg); display:none;" href="img/services/4/2.jpeg" data-fancybox="4")
							a.services__item__img(style="background-image: url(img/services/4/3.jpeg); display:none;" href="img/services/4/3.jpeg" data-fancybox="4")
							a.services__item__img(style="background-image: url(img/services/4/4.jpeg); display:none;" href="img/services/4/4.jpeg" data-fancybox="4")
							a.services__item__img(style="background-image: url(img/services/4/5.jpeg); display:none;" href="img/services/4/5.jpeg" data-fancybox="4")
							a.services__item__img(style="background-image: url(img/services/4/6.jpeg); display:none;" href="img/services/4/6.jpeg" data-fancybox="4")
					//-services__items
					.services__items(data-tab="5")
						.services__item
							a.services__item__img(style="background-image: url(img/services/5/1.jpeg)" href="img/services/5/1.jpeg" data-fancybox="5")
							.services__item__text
								.services__item__title Изделия по индивидуальным эскизам
							a.services__item__img(style="background-image: url(img/services/5/2.jpeg); display:none;" href="img/services/5/2.jpeg" data-fancybox="5")
							a.services__item__img(style="background-image: url(img/services/5/3.jpeg); display:none;" href="img/services/5/3.jpeg" data-fancybox="5")
							a.services__item__img(style="background-image: url(img/services/5/4.jpeg); display:none;" href="img/services/5/4.jpeg" data-fancybox="5")
							a.services__item__img(style="background-image: url(img/services/5/5.jpeg); display:none;" href="img/services/5/5.jpeg" data-fancybox="5")
							a.services__item__img(style="background-image: url(img/services/5/6.jpeg); display:none;" href="img/services/5/6.jpeg" data-fancybox="5")
							a.services__item__img(style="background-image: url(img/services/5/7.jpeg); display:none;" href="img/services/5/7.jpeg" data-fancybox="5")
							a.services__item__img(style="background-image: url(img/services/5/8.jpeg); display:none;" href="img/services/5/8.jpeg" data-fancybox="5")
					//-services__items
					.services__items(data-tab="6")
					//-services__items
					.services__items(data-tab="7")
						.services__item
								a.services__item__img(style="background-image: url(img/services/7/1.jpeg)" href="img/services/7/1.jpeg" data-fancybox="7")
								.services__item__text
									.services__item__title Композитный короб с инкрустацией
								a.services__item__img(style="background-image: url(img/services/7/2.jpeg); display:none;" href="img/services/7/2.jpeg" data-fancybox="7")
								a.services__item__img(style="background-image: url(img/services/7/3.jpeg); display:none;" href="img/services/7/3.jpeg" data-fancybox="7")
					//-services__items
					.services__items(data-tab="8")
						.services__item
							a.services__item__img(style="background-image: url(img/services/8/1.jpeg)" href="img/services/8/1.jpeg" data-fancybox="8")
							.services__item__text
								.services__item__title Крышные конструкции
					//-services__items
					.services__items(data-tab="9")
						.services__item
							a.services__item__img(style="background-image: url(img/services/9/1.jpeg)" href="img/services/9/1.jpeg" data-fancybox="9")
							.services__item__text
								.services__item__title Монтаж и согласование
							a.services__item__img(style="background-image: url(img/services/9/2.jpeg); display:none;" href="img/services/9/2.jpeg" data-fancybox="9")
							a.services__item__img(style="background-image: url(img/services/9/3.jpeg); display:none;" href="img/services/9/3.jpeg" data-fancybox="9")
					//-services__items
					.services__items(data-tab="10")
						.services__item
							a.services__item__img(style="background-image: url(img/services/10/1.jpeg)" href="img/services/10/1.jpeg" data-fancybox="10")
							.services__item__text
								.services__item__title Навигация
							a.services__item__img(style="background-image: url(img/services/10/2.jpeg); display:none;" href="img/services/10/2.jpeg" data-fancybox="10")
					//-services__items
					.services__items(data-tab="11")
						.services__item
							a.services__item__img(style="background-image: url(img/services/11/1.jpeg)" href="img/services/11/1.jpeg" data-fancybox="11")
							.services__item__text
								.services__item__title Неон, гибкий и из стекла
							a.services__item__img(style="background-image: url(img/services/11/2.jpeg); display:none;" href="img/services/11/2.jpeg" data-fancybox="11")
							a.services__item__img(style="background-image: url(img/services/11/3.jpeg); display:none;" href="img/services/11/3.jpeg" data-fancybox="11")
							a.services__item__img(style="background-image: url(img/services/11/4.jpeg); display:none;" href="img/services/11/4.jpeg" data-fancybox="11")
							a.services__item__img(style="background-image: url(img/services/11/5.jpeg); display:none;" href="img/services/11/5.jpeg" data-fancybox="11")
							a.services__item__img(style="background-image: url(img/services/11/6.jpeg); display:none;" href="img/services/11/6.jpeg" data-fancybox="11")
					//-services__items
					.services__items(data-tab="12")
						.services__item
							a.services__item__img(style="background-image: url(img/services/12/1.jpeg)" href="img/services/12/1.jpeg" data-fancybox="12")
							.services__item__text
								.services__item__title Оформление витрин и интерьера
							a.services__item__img(style="background-image: url(img/services/12/2.jpeg); display:none;" href="img/services/12/2.jpeg" data-fancybox="12")
							a.services__item__img(style="background-image: url(img/services/12/3.jpeg); display:none;" href="img/services/12/3.jpeg" data-fancybox="12")
							a.services__item__img(style="background-image: url(img/services/12/4.jpeg); display:none;" href="img/services/12/4.jpeg" data-fancybox="12")
					//-services__items
					.services__items(data-tab="13")
						.services__item
							a.services__item__img(style="background-image: url(img/services/13/1.jpeg)" href="img/services/13/1.jpeg" data-fancybox="13")
							.services__item__text
								.services__item__title Световые короба
							a.services__item__img(style="background-image: url(img/services/13/2.jpeg); display:none;" href="img/services/13/2.jpeg" data-fancybox="13")
							a.services__item__img(style="background-image: url(img/services/13/3.jpeg); display:none;" href="img/services/13/3.jpeg" data-fancybox="13")
							a.services__item__img(style="background-image: url(img/services/13/4.jpeg); display:none;" href="img/services/13/4.jpeg" data-fancybox="13")
							a.services__item__img(style="background-image: url(img/services/13/5.jpeg); display:none;" href="img/services/13/5.jpeg" data-fancybox="13")
		section.soglasovanie
			.container
				.section__title Узнайте необходимо ли согласовывать вывеску по вашему адресу
				.section__desc Это поможет избежать принудительного демонтажа и возможного штрафа за нарушение 902 ПП / регламента № 31 РВ-72 от 2015 г.
				form.soglasovanie__form(action="")
					input(type="text" placeholder="Введите адрес, например пр-т Мира, 32 ")
					button.btn Получить информацию
		section.formula
			.container
				.section__title Формула успешной рекламы
				//.section__desc «Первая рекламная компания» компания основана в 2011 г.
				p.formula__text Мы занимаемся изготовлением и монтажом наружной рекламы в Москве и Московской области, ,а так же территории РФ, придерживаясь самых эффективных инструментов в области маркетинга. Производим продукцию только из качественных европейских комплектующих и ипользуем современное инновационное оборудование. За долгие годы работы у нас сформировалась команда настоящих профессионалов, способных реализовать любую вашу идею.
		section.catalog
			.container
				.section__title Примеры наших работ
				.catalog__items
					-for(i=1;i<=89;i++){
						a(data-fancybox="gallery" href="img/works/"+i+".jpeg" style="background-image: url(img/works/"+i+".jpeg);").catalog__item
					-}
		section.contacts
			.container
				.section__title Наши контакты
				ul.contacts__list
					li.contacts__list__phone +7 (925) 003 17 63
					li.contacts__list__phone +7 (926) 195 13 10
					li waripov@gmail.com
					li Г. Москва Варшавское шоссе д. 125 к 3
		section.map#map



	script(src="https://code.jquery.com/jquery-3.4.1.min.js")
	script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
	script(src="js/scroll.js")
	script(src="https://api-maps.yandex.ru/2.1/?apikey=<fed58e3e-122a-4b9a-9b1c-60d19ebb0a39>&lang=ru_RU")
	script(src="js/mapbasics.js")
	script(src="js/main.js?v9")

