<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/jquery.fias.min.css")
body

	input.input(type="text")
	block content
	
	
	script(src="https://code.jquery.com/jquery-3.4.1.min.js")
	script(src="js/jquery.fias.min.js")
	script(src="js/main.js")