<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width")
	title Transit-s
	link(rel="stylesheet", href="css/jquery.fias.min.css")
	link(rel="stylesheet", href="css/main.css?v3")
	link(rel="stylesheet", href="css/media.css?v3")
body

	.calc
		.calc__title Калькулятор стоимости
		.calc__sec1
			.calc__sec1__inputgroup
				label(for="") Откуда
				input(type="text") 
			img(src="img/calc.svg", alt="")
			.calc__sec1__inputgroup
				label(for="") Куда
				input(type="text") 
		.calc__sec2
			.calc__sec1__inputgroup
				label(for="") Объем
				.calc__sec2__input
					.calc__sec2__input__label м 
						sup 3
					input(type="number")
			.calc__sec1__inputgroup
				label(for="") Масса
				.calc__sec2__input
					.calc__sec2__input__label тонн
					input(type="number") 
			button.btn__border Расчитать
		.calc__sec3
			p Итого 
				span 26 000 руб.
		.calc__sec4
			p Для получения более точных расчетов свяжитесь с нами:
			.calc__sec4__phone +7(903)891-09-77
			button.btn Написать
	.modal__wrapper
		.modal
			.modal__title Оставьте заявку или 
				br 
				span позвоните нам
			.modal__phone +7(903)891-09-77
			form.modal__form
				.modal__form__input
					input(required type="text" placeholder="ФИО")
				.modal__form__input
					input(required type="text" placeholder="Электронная почта")
				.modal__form__input
					input(required type="text" placeholder="Мобильный телефон")
				p.modal__txt * Номер телефона вводится в формате 89012345678 
					br 
					span ** Нажимая кнопку «Отправить»,
					br
					span вы принимаете условия настоящего соглашения и даете согласие на обработку ваших персональных данных в соответствии с Политикой конфиденциальности.
				.modal__form__input
					input(required type="text" placeholder="Комментарий")
				button.btn Отправить
	
	.mobile__head
		.mobile__head__hamburger
		.mobile__head__city г. Санкт-Петербург
		a.mobile__head__logo(href="")
			img(src="img/logo.svg", alt="")
	.head
		a.head__logo(href="")
			img(src="img/logo.svg", alt="")
		.head__city г. Санкт-Петербург
		a.head__phone(href="") +7(903)891-09-77
		.head__callrequest Заказать звонок
		.head__feedback Обратная связь
	.nav
		ul.nav__links
			li
				a(href="") Услуги и цены
				ul.nav__links__submenu
					li
						a(href="") Доставка любых грузов
					li
						a(href="") Грузоперевозки по России
					li
						a(href="") Цены на грузоперевозки

			li
				a(href="inform.html") Информация
			li
				a(href="docs.html") Документы
			li
				a(href="contacts.html") Контакты
			li
				a(href="requisites.html") Реквизиты
		.nav__calc(data-click-calc)
			.nav__calc__img
			span Калькулятор стоимости
	.mobile__nav
		a.mobile__nav__phone(href="") +7(903)891-09-77
		.mobile__nav__callrequest Заказать звонок
		.mobile__nav__calc(data-click-calc)
			.mobile__nav__calc__img
			span Калькулятор стоимости
	ul.mobile__links
		li.mobile__links__haschild
			a(href="") Услуги и цены
			ul.mobile__links__submenu
				li 
					a(href="dilevery.html") Доставка любых грузов
				li 
					a(href="cargo.html") Грузоперевозки по России
				li 
					a(href="prices.html") Цены на грузоперевозки
		li 
			a(href="inform.html") Информация
		li 
			a(href="docs.html") Документы
		li 
			a(href="contacts.html") Контакты
		li 
			a(href="requisites.html") Реквизиты

	block content
	
	
	script(src="https://code.jquery.com/jquery-3.4.1.min.js")
	script(src="js/jquery.fias.min.js")
	script(src="js/main.js?v3")