@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Rubik Light Italic'), local('Rubik-LightItalic'), url(https://fonts.gstatic.com/s/rubik/v9/iJWBBXyIfDnIV7nEldWYwWb-7A.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik Italic'), local('Rubik-Italic'), url(https://fonts.gstatic.com/s/rubik/v9/iJWEBXyIfDnIV7nEnXq60Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Rubik Medium Italic'), local('Rubik-MediumItalic'), url(https://fonts.gstatic.com/s/rubik/v9/iJWBBXyIfDnIV7nElY2ZwWb-7A.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Rubik Bold Italic'), local('Rubik-BoldItalic'), url(https://fonts.gstatic.com/s/rubik/v9/iJWBBXyIfDnIV7nElcWfwWb-7A.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Rubik Black Italic'), local('Rubik-BlackItalic'), url(https://fonts.gstatic.com/s/rubik/v9/iJWBBXyIfDnIV7nElf2dwWb-7A.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v9/iJWHBXyIfDnIV7Fqj2mZ8WU.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v9/iJWKBXyIfDnIV7nFrXk.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v9/iJWHBXyIfDnIV7EyjmmZ8WU.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Rubik Bold'), local('Rubik-Bold'), url(https://fonts.gstatic.com/s/rubik/v9/iJWHBXyIfDnIV7F6iGmZ8WU.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Rubik Black'), local('Rubik-Black'), url(https://fonts.gstatic.com/s/rubik/v9/iJWHBXyIfDnIV7FCimmZ8WU.ttf) format('truetype');
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Rubik', sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
.head {
  background-color: black;
  height: 6.3rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  z-index: 3;
  position: relative;
}
.head * {
  color: white;
}
.head__logo {
  display: block;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 0 2rem;
}
.head__city {
  height: 100%;
  border-left: 1px solid #313131;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 0 3rem;
}
.head__phone {
  background-color: #0071FF;
  display: -webkit-box;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 19rem;
  font-size: 1.4rem;
  margin-left: auto;
}
.head__callrequest {
  background-color: #0071FF;
  display: -webkit-box;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 19rem;
  font-size: 1.4rem;
  border-left: 1px solid #4094FF;
  cursor: pointer;
}
.head__feedback {
  background-color: #0071FF;
  display: -webkit-box;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 19rem;
  font-size: 1.4rem;
  border-left: 1px solid #4094FF;
  cursor: pointer;
}
.nav {
  height: 6.3rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  z-index: 3;
  position: relative;
}
.nav__links {
  border-bottom: 1px solid #E8E8E8;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-flex: 1;
          flex-grow: 1;
}
.nav__links li {
  height: 100%;
  position: relative;
}
.nav__links li:hover .nav__links__submenu {
  display: block;
}
.nav__links li:hover .nav__links__submenu a {
  color: #747474;
  background-color: white;
}
.nav__links li:hover .nav__links__submenu a:hover {
  color: white;
  background-color: #0071FF;
}
.nav__links li:hover a {
  color: white;
  background-color: #0071FF;
}
.nav__links a {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 0 3rem;
  color: black;
  border-right: 1px solid #E8E8E8;
}
.nav__links__submenu {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.07);
  position: absolute;
  top: 6.3rem;
  left: 0;
  background-color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
}
.nav__links__submenu a {
  padding: 0 3rem;
  height: 6.3rem;
  border-right: none;
  color: #747474;
  background-color: white;
}
.nav__calc {
  background-color: black;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 57rem;
  color: white;
  cursor: pointer;
}
.nav__calc__active {
  background-color: #0071FF;
  color: white;
}
.nav__calc__active .nav__calc__img {
  background-image: url(../img/head__calc__white.svg);
}
.nav__calc__img {
  width: 2.7rem;
  height: 2.7rem;
  background-image: url(../img/head__calc__blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 20px;
}
.calc {
  position: absolute;
  top: 12.6rem;
  right: 0;
  background-color: white;
  width: 57rem;
  padding: 3rem 4rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.07);
}
.calc__show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.calc__title {
  font-size: 24px;
}
.hero {
  background-image: url(../img/hero__bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
          justify-content: center;
  padding-left: 30rem;
  min-height: 57.5rem;
  height: calc(100vh - 12.6rem);
}
.hero__title {
  font-weight: bold;
  font-size: 9.6rem;
  text-transform: uppercase;
}
.hero__desc {
  font-weight: 300;
  font-size: 3rem;
  text-transform: uppercase;
}
.hero__desc span {
  font-weight: 300;
  font-size: 3rem;
  text-transform: uppercase;
}
.btn {
  padding: 1.8rem 5.6rem;
  border-radius: 100px;
  background-color: #0071FF;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}
.btn__border {
  padding: 1.2rem 3.6rem;
  border-radius: 100px;
  background-color: white;
  border: 2px solid #0071FF;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  color: black;
}
.hero__btn {
  margin-top: 17rem;
}
.calc__sec1 {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  margin-top: 2rem;
}
.calc__sec1 img {
  margin: 0 1.8rem;
  margin-bottom: 1rem;
}
.calc__sec2 {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  margin-top: 2rem;
}
.calc__sec2 input {
  width: 12rem;
  padding-right: 6rem;
}
.calc__sec2 .btn__border {
  margin-left: 1.8rem;
}
.calc__sec2__input {
  position: relative;
  margin-right: 3rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.calc__sec2__input__label {
  position: absolute;
  right: 1.5rem;
  top: 1.3rem;
  color: #9E9E9E;
}
.calc__sec2__input__label sup {
  font-size: 6px;
}
.calc__sec3 {
  margin-top: 4rem;
}
.calc__sec3 span {
  font-size: 1.8rem;
  margin-left: 2.5rem;
}
.calc__sec4 {
  margin-top: 5rem;
}
.calc__sec4 .btn {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.calc__sec4__phone {
  font-size: 1.8rem;
  margin-top: 1.8rem;
}
.calc__sec1__inputgroup {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.calc__sec1__inputgroup label {
  color: #9E9E9E;
  margin-bottom: 1.2rem;
}
input {
  padding: 1.4rem 2.2rem;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.07);
  border-radius: 0.7rem;
}
.modal__wrapper {
  background: rgba(11, 11, 11, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  overflow: auto;
  display: none;
}
.modal {
  background-color: white;
  position: absolute;
  top: 9rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 87.5rem;
  padding: 7.6rem 9.2rem;
  margin-bottom: 9rem;
}
.modal__title {
  font-size: 36px;
}
.modal__title span {
  font-size: 36px;
}
.modal__phone {
  margin-top: 3.6rem;
  font-size: 2.4rem;
}
.modal__form {
  margin-top: 5rem;
  width: 51.8rem;
  grid-gap: 1.5rem;
}
.modal__form input {
  width: 100%;
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid #9E9E9E;
  padding: 1.4rem 0;
}
.modal__form .btn {
  display: inline-block;
  margin-top: 18rem;
}
.modal__form__input {
  margin-top: 1.5rem;
  position: relative;
}
.modal__form__input:before {
  content: '';
  width: 0.4rem;
  height: 0.4rem;
  background-image: url(../img/modal__form__required.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.modal__txt {
  color: #9E9E9E;
  font-size: 9px;
  margin-top: 3rem;
}
.modal__txt span {
  font-size: 9px;
}
.page {
  padding: 8rem 16rem;
}
.page__breadcrumbs {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-size: 12px;
  color: #C4C4C4;
}
.page__breadcrumbs__separator {
  width: 4px;
  height: 4px;
  background: #C4C4C4;
  border-radius: 100%;
  margin: 0 1.2rem;
}
.page__title {
  margin-top: 2rem;
  font-size: 48px;
}
.page__desc {
  line-height: 1.6;
  margin-top: 3.8rem;
}
.page__numbers {
  display: -webkit-box;
  display: flex;
  margin-top: 18rem;
}
.page__number {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}
.page__number__num {
  margin-top: 5.6rem;
  font-size: 48px;
  border-right: 1px solid #E8E8E8;
  padding: 0 4rem;
}
.page__footer {
  margin-top: 7rem;
  padding-top: 7rem;
  border-top: 1px solid #E8E8E8;
}
.inform {
  background-image: url(../img/inform__bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.page__docs {
  margin-top: 13rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
}
.page__doc {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  margin-right: 10rem;
}
.page__doc__icon {
  width: 8rem;
  height: 8rem;
  background-image: url(../img/pdf.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.page__doc__title {
  margin-top: 7rem;
  font-size: 24px;
  text-transform: uppercase;
}
.page__doc__desc {
  color: #898989;
  margin-top: 2rem;
}
.contacts__list li {
  display: -webkit-box;
  display: flex;
  margin-bottom: 3rem;
}
.contacts__list__icon {
  margin-right: 3rem;
}
.contacts__list__icon img {
  max-width: 3.8rem;
}
.contacts__list__text {
  font-size: 1.8rem;
}
.contacts__list__title {
  font-size: 1.8rem;
  font-weight: 500;
}
.contacts__list__desc {
  font-size: 1.8rem;
  margin-top: 0.7rem;
}
.contacts__wrapper {
  margin-top: 3.6rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
}
.contacts__map {
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin-left: 16rem;
}
.requisites__list li * {
  margin-bottom: 1rem;
}
.requisites__list__title {
  font-weight: 500;
  font-size: 1.8rem;
}
.requisites__list__desc {
  font-size: 1.8rem;
}
.requisites__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 5rem;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.requisites__img {
  margin-left: 12rem;
}
.requisites__img img {
  height: 100%;
}
