@media screen and (max-width: 1290px) {
  .nav__calc {
    width: auto;
    -webkit-box-flex: 1;
            flex-grow: 1;
  }
  .nav__calc span {
    font-size: 1.2rem;
  }
  .nav__links li {
    -webkit-box-flex: 1;
            flex-grow: 1;
  }
  .nav__links a {
    -webkit-box-flex: 1;
            flex-grow: 1;
    font-size: 1rem;
  }
  .hero {
    padding-left: 12rem;
  }
  .head__city {
    font-size: 1rem;
  }
  .head__phone,
  .head__callrequest,
  .head__feedback {
    font-size: 1rem;
    width: 12rem;
  }
  .hero__title {
    font-size: 7.2rem;
  }
  .hero__desc {
    font-size: 2.4rem;
  }
  .hero__desc span {
    font-size: 2.4rem;
  }
  .page__title {
    font-size: 3.6rem;
  }
  .page__desc {
    font-size: 1.2rem;
  }
  .page__desc span {
    font-size: 1.2rem;
  }
  .page {
    padding: 6rem;
  }
  .page__numbers {
    flex-wrap: wrap;
    width: 50%;
    margin-top: 0;
    margin-left: -3rem;
    -webkit-box-flex: 1;
            flex-grow: 1;
  }
  .page__number {
    width: 50%;
    margin-top: 7rem;
  }
  .page__number__num {
    font-size: 2.4rem;
  }
  .page__docs {
    -webkit-box-pack: center;
            justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
  }
  .page__doc {
    width: 50%;
    margin-top: 15rem;
    margin-right: 0;
  }
  .page__navbar {
    position: absolute;
    bottom: 7rem;
    right: 7rem;
  }
}
@media screen and (max-width: 890px) {
  .modal {
    width: 100%;
  }
}
@media screen and (max-width: 840px) {
  .prices__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .prices__form {
    width: 100%;
  }
  .prices__inputs {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
  }
  .prices__inputs img {
    width: 2.3rem;
  }
  .prices__input input {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .prices__btnblock {
    margin-top: 1rem;
  }
  .prices__result__item__label {
    font-size: 1rem;
  }
  .prices__result__item__content {
    font-size: 1.4rem;
  }
  .prices__result__summ {
    padding-right: 2rem;
  }
  .prices__result__time {
    padding-left: 2rem;
  }
  .prices__result__item__label {
    margin-right: 1rem;
  }
  .prices__btnblock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .prices__btnblock__text {
    margin-left: 0;
  }
  .prices__input {
    width: 100%;
  }
  .prices__btnblock__title {
    margin-top: 4rem;
  }
  .cargo__img {
    margin-top: 0;
    margin-bottom: -3rem;
  }
  .cargo__img__desktop {
    display: none;
  }
  .cargo__img__mobile {
    display: block;
  }
  .page__navbar {
    display: none;
  }
  .dilevery__desc {
    font-size: 1rem;
    margin-top: 2rem;
  }
  .dilevery__list {
    margin-top: 2rem;
  }
  .dilevery__list li {
    font-size: 1rem;
  }
  .dilevery__advantages__list li {
    font-size: 1rem;
  }
  .requisites__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .requisites__list__title {
    font-size: 1rem;
  }
  .requisites__list__desc {
    font-size: 1rem;
  }
  .requisites__wrapper {
    margin-top: 3rem;
  }
  .page__breadcrumbs {
    display: none;
  }
  .page__title {
    margin-top: 0;
  }
  .contacts__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .contacts__map {
    margin-left: 0;
    width: 100%;
    margin-top: 6rem;
  }
  .contacts__list__title,
  .contacts__list__desc {
    font-size: 1.4rem;
  }
  .contacts__list {
    width: 100%;
  }
  .requisites__img {
    margin-left: 0;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: start;
            align-items: flex-start;
    margin-top: 2rem;
  }
  .requisites__img img {
    max-width: 50%;
    height: auto;
  }
  .page__title {
    font-size: 1.8rem;
  }
  .page__doc {
    width: 100%;
    margin-top: 6rem;
    margin-right: 0;
  }
  .page__doc__title {
    font-size: 1.8rem;
    margin-top: 2rem;
  }
  .page__doc__desc {
    font-size: 1rem;
  }
  .page__footer {
    padding-top: 4rem;
    margin-top: 4rem;
  }
  .page__footer .btn {
    margin: 0 auto;
    display: block;
  }
  .page {
    padding: 3rem;
  }
  .page__numbers__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .page__numbers {
    width: 100%;
    margin-left: 0;
  }
  .page__number {
    width: 25%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    margin-top: 5rem;
  }
  .page__number:last-child .page__number__num {
    border-right: none;
  }
  .page__number__num {
    font-size: 1.1rem;
    margin-top: 3rem;
    text-align: center;
    padding: 0;
    width: 100%;
  }
  .page__numbers__img {
    margin-top: 6rem;
    margin-bottom: 0;
    max-width: 70%;
  }
  .page__number__text {
    font-size: 0.9rem;
    text-align: center;
  }
  .hero__title {
    text-align: center;
    font-size: 4.8rem;
  }
  .hero__desc {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 3rem;
  }
  .hero__desc span {
    font-size: 1.8rem;
  }
  .modal {
    width: 100%;
    padding: 3rem;
  }
  .modal__title {
    font-size: 1.8rem;
  }
  .modal__form {
    width: 100%;
  }
  .modal__form .btn {
    margin: 0 auto;
    display: block;
    margin-top: 18rem;
  }
  .modal__phone {
    margin-top: 3rem;
  }
  .modal__title span {
    font-size: 1.8rem;
  }
  .nav__links a {
    padding: 0 1rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
  }
  .head {
    display: none;
  }
  .nav {
    display: none;
  }
  .mobile__head {
    display: -webkit-box;
    display: flex;
  }
  .mobile__nav {
    display: -webkit-box;
    display: flex;
  }
  .calc {
    top: 10rem;
    width: 100%;
  }
  .hero {
    padding-left: 0;
    -webkit-box-align: center;
            align-items: center;
    background-position: -25rem;
  }
  .calc__sec1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
  }
  .calc__sec1 img {
    width: 2.3rem;
    margin-top: 1.4rem;
    margin-bottom: -1rem;
  }
  .calc__sec2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .calc__sec1__inputgroup {
    width: 100%;
  }
  .calc__title {
    font-size: 1.8rem;
  }
  input {
    font-size: 1rem;
  }
  .calc__sec2 input {
    width: 100%;
  }
  .calc__sec2__input {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .calc__sec2 .btn__border {
    margin: auto;
    margin-top: 3rem;
  }
  .btn {
    font-size: 1rem;
  }
  .btn__border {
    font-size: 1rem;
  }
}
