extends layouts/main.jade
block content
	.page.cargo
		ul.page__breadcrumbs
			li Главная
			.page__breadcrumbs__separator
			li Грузоперевозки по России
		.page__title Грузоперевозки по России
		.page__wrapper
			.page__content
				.dilevery__desc Транспортная компания «Транзит-С» принимает заказы на доставку любых грузов по центральной России
				.cargo__img
					img.cargo__img__desktop(src="img/cargo.png", alt="")
					img.cargo__img__mobile(src="img/cargo__mobile.png", alt="")
			.page__navbar
				a.page__navbar__link.page__navbar__link__active(href="/") Доставка любых грузов
				a.page__navbar__link(href="/") Грузоперевозки по России
				a.page__navbar__link(href="/") Цены на грузоперевозки









		.page__footer
			button.btn Связаться