extends layouts/main.jade
block content
	.page.dilevery
		ul.page__breadcrumbs
			li Главная
			.page__breadcrumbs__separator
			li Доставка любых грузов
		.page__title Доставка любых грузов
		.page__wrapper
			.page__content
				.dilevery__desc Транспортная компания «Транзит-С» принимает заказы на доставку любых грузов по центральной России
				.dilevery__desc Наша компания предлагает расширенный пакет сопутствующих услуг.
				ul.dilevery__list
					li Страхование;
					li Экспедирование;
					li Охрана и сопровождение;
					li Мониторинг местонахождения груза.
				.dilevery__advantages
					.dilevery__advantages__title Наши преимущества 
					ul.dilevery__advantages__list
						li Опыт работы в сфере транспортных услуг — более 15 лет. 
						li Обеспечиваем безопасность, надежность и качество каждой грузоперевозки.
						li Доставляем тяжеловесные грузы по всей территории центральной России. 
						li Предоставляем полный комплекс услуг, необходимых для организации грузоперевозки.
						li В нашем автопарке более 20-ти новых автомобилей моложе 3-х лет, что позволит доставить груз в установленные сроки без происшествий. 
			.page__navbar
				a.page__navbar__link.page__navbar__link__active(href="/") Доставка любых грузов
				a.page__navbar__link(href="/") Грузоперевозки по России
				a.page__navbar__link(href="/") Цены на грузоперевозки









		.page__footer
			button.btn Связаться