extends layouts/main.jade
block content
	.page.docs
		ul.page__breadcrumbs
			li Главная
			.page__breadcrumbs__separator
			li Документы
		.page__title Документы
		.page__docs
			.page__doc
				.page__doc__icon
				.page__doc__title Свидетельство
				.page__doc__desc О постановке на учет в налоговом органе
			.page__doc
				.page__doc__icon
				.page__doc__title Свидетельство
				.page__doc__desc О постановке на учет в налоговом органе
			.page__doc
				.page__doc__icon
				.page__doc__title Свидетельство
				.page__doc__desc О постановке на учет в налоговом органе


		.page__footer
			button.btn Связаться