extends layouts/main.jade
block content
	.page.inform
		ul.page__breadcrumbs
			li Главная
			.page__breadcrumbs__separator
			li Информация
		.page__title Информация
		.page__desc Компания «Транзит-С» - надежный перевозчик. 
			br 
			span География перевозок охватывает центральные города России. 
			br 
			span Мы предлагаем прозрачную ценовую политику (тарифы) и выгодные условия для постоянных клиентов (сотрудничество).
			br 
			span С нами Вы можете не переживать за груз, так как все грузы мы страхуем и соблюдаем условия погрузки, разгрузки, транспортировки.
		.page__numbers__wrapper
			.page__numbers
				.page__number
					.page__number__text Выполнено рейсов
					.page__number__num 43789
				.page__number
					.page__number__text Довольных клиентов 
					.page__number__num 903
				.page__number
					.page__number__text Тонн перевезено в год 
					.page__number__num 547512
				.page__number
					.page__number__text Дней в работе 
					.page__number__num 6660
			.page__numbers__img
				img(src="img/inform__bg.png", alt="")
		.page__footer
			button.btn(data-click-modal__wrapper) Связаться