extends layouts/main.jade
block content
	.page.prices
		ul.page__breadcrumbs
			li Главная
			.page__breadcrumbs__separator
			li Цены на грузоперевозки
		.page__title Цены на грузоперевозки
		.page__wrapper
			.page__content
				.prices__form
					.prices__inputs
						.prices__input
							label(for="") Откуда
							.prices__input__wrapper
								input(type="text" data-ajax-from2) 
								.prices__input__alert(data-ajax-from2)
									br
									//.prices__input__alert__content
										.prices__input__alert__content__item(data-result-from) Москва
										.prices__input__alert__content__item(data-result-from) Санкт-Петербург
										.prices__input__alert__content__item(data-result-from) Челябинск
						img(src="img/calc.svg", alt="" data-calc-reverse2)
						.prices__input
							label(for="") Куда
							.prices__input__wrapper
								input(type="text" data-ajax-to2) 
								.prices__input__alert(data-ajax-to2)
									br
									//.prices__input__alert__content
										.prices__input__alert__content__item(data-result-from) Москва
										.prices__input__alert__content__item(data-result-from) Санкт-Петербург
										.prices__input__alert__content__item(data-result-from) Челябинск
					.prices__inputs
						.prices__input
							label(for="") Объем
							input(type="text")
							.prices__input__label м
								sup 3
						.prices__input
							label(for="") Масса
							input(type="text")
							.prices__input__label тонн
				.prices__btnblock
					button.btn__border(data-ajax-result2) Рассчитать 
					.prices__btnblock__text
						.prices__btnblock__title Для получения более точных расчетов свяжитесь с нами:
						.prices__btnblock__phone +7(903)891-09-77
				.prices__result
					.prices__result__item.prices__result__summ
						.prices__result__item__label Итого 
						.prices__result__item__content(data-ajax-sum2) 0 руб.
					.prices__result__item.prices__result__time
						.prices__result__item__label Время  в дороге  
						.prices__result__item__content(data-ajax-time) 2 суток 

			.page__navbar
				a.page__navbar__link(href="dilevery.html") Доставка любых грузов
				a.page__navbar__link(href="cargo.html") Грузоперевозки по России
				a.page__navbar__link.page__navbar__link__active(href="prices.html") Цены на грузоперевозки









		.page__footer
			button.btn(data-click-modal__wrapper) Связаться