<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/main.css")
body
	.head
		.container
			//-head__nav
			ul.head__nav
				li
					a(href="") Решения
				li
					a(href="") Кейсы
				li
					a(href="") Статьи
				li
					a(href="") Звукоизоляционные материалы
			//-END head__nav

			//-head__location
			.head__location
				img(src="img/head__location.svg", alt="")
				.head__location__title Университетская набережная, 88

			//-END head__location
	block content
	

	script(src="https://code.jquery.com/jquery-3.4.1.min.js")
	script(src="js/main.js")
	